.hero {
  padding-top: 200px;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 748px;
}

.title {
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 96px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#D4DBEF, #3F66D3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px 0 40px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.buttonProject {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 12px 27px;
  background: #95B3FF;
  font-weight: 400;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border: none;
  text-decoration: none;

  clip-path: polygon(
    14px 0%,
    calc(100% - 14px) 0%,
    calc(100% - 14px) 14px,
    100% 14px,
    100% calc(50% - 14px),
    calc(100% + 14px) calc(50% - 14px),
    calc(100% + 14px) calc(50% + 14px),
    100% calc(50% + 14px),
    100% calc(100% - 14px),
    calc(100% - 14px) calc(100% - 14px),
    calc(100% - 14px) 100%,
    14px 100%,
    14px calc(100% - 14px),
    0% calc(100% - 14px),
    0% 14px,
    14px 14px
  );
}

.buttonLinkMenu {
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.buttonLinkGit {
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}