.allcont {
  background-color: #0a0e21;
}

.container {
  width: 100vw;
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 75px 109px;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/TabAndComp.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0e21;
}

.containerHello {
  width: 100%;
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 75px 109px;
  display: flex;
  justify-content: center;

  background-color: #0a0e21;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #95b3ff;
  padding: 20px 0;
  position: relative;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll-left 300s linear infinite;
  gap: 50px;
}

.infiniteText {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Опціонально: додаємо ефект при наведенні для паузи
.wrapper:hover .track {
  animation-play-state: paused;
} */

.helloWrap {
  display: flex;
  align-items: center;
  background-image: url("../../assets/hello.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0e21;
  /* width: 100%;
  max-width: 1440px; */
}

.description {
  z-index: 1000000;
  text-align: center;
  padding: 190px 109px;
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 1440px;
}

/* .mainContainer{
  display: flex;
} */

.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 906px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.feature {
  background-color: #121731;
  border: 1px solid #748ccc;
  padding: 12px 18px;
}

.terminalWrapper {
  display: flex;
  padding: 28px 0;
  flex-direction: column;
  align-items: center;
  width: 906px;
}

.terminal {
  background-color: #121731;
  border-top: 1px solid #748ccc;
  border-right: 1px solid #748ccc;
  border-left: 1px solid #748ccc;
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
}

.terminalImage {
  display: flex;
  gap: 11px;
}

.terminalImageRed {
  background-color: #d97878;
  padding: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.terminalImageYellow {
  background-color: #e8b674;
  padding: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.terminalImageGreen {
  background-color: #7bba44;
  padding: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.terminalContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #121731;
  border: 1px solid #748ccc;
  width: 100%;
  padding: 57px 50px;
}

.terminalCommands {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.terminalCommand {
  font-weight: 400;
  font-size: 20px;
  color: #636c7a;
}

.terminalAnswers {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.terminalAnswer {
  font-weight: 400;
  font-size: 20px;
  color: #636c7a;
  display: flex;
}

.whyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(http://localhost:3000/static/media/whySchemaForge.342f2d4….svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0e21;
  width: 100vw;
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 75px 109px;
}

.whyWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.whyText {
  font-weight: 400;
  font-size: 40px;
  text-align: left;
}

.whyFeatures {
  display: flex;
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  flex-direction: column;
  align-items: flex-start;
}

.whyFeature {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #748ccc;
  padding: 10px 0;
  margin-bottom: 45px;
}

.howItWorks {
  font-weight: 400;
  font-size: 40px;
  text-align: left;
  padding-top: 78px;
}

.whyBoxes {
  display: flex;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 20px;
  align-items: flex-start;
  gap: 75px;
  margin-top: 30px;
}

.howBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid #748ccc;
  background-color: #121731;
  padding: 30px;
  margin-bottom: 45px;
  width: 350px;
  height: 262px;
  text-align: left;
}

.allNeedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../../assets/allNeed.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0e21;
  width: 100vw;
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 75px 109px;
}

.allNeedTitle {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.allAnswer {
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.allAnswerBoxes {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;
}

.allAnswerBoxesWrapOne {
  display: flex;
  flex-direction: row;
  gap: 130px;
  padding-right: 155px;
}

.allAnswerBoxesWrapTwo {
  display: flex;
  flex-direction: row;
  gap: 130px;
  padding-left: 155px;
}

.allAnswerBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border: 1px solid #748ccc;
  background-color: #121731;
  padding: 30px;
  margin-bottom: 55px;
  width: 270px;
  height: 272px;
  text-align: left;
}

.techContainer {
  width: 100vw;
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 109px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.techItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.techItemsWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #748ccc;
  background-color: #121731;
  padding: 30px;
  width: 100%;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
}

.workType {
  font-weight: 400;
  font-size: 20px;
}

.tehcTitle {
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.demoContainer {
  display: flex;
  flex-direction: row;
  height: 300px;
  margin-bottom: 200px;
  max-width: 1440px;
  width: 100%;
  padding: 75px 0;
  gap: 30px;
  justify-content: center;
}

.demoTitle {
  font-weight: 400;
  font-size: 40px;
  text-align: left;
}

.demoDescriptionWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 40px;
}

.demoDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.techWrapConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../../assets/techStack.svg"); /* Закрепляет фон [2] */
  background-position: center; /* Центрирует картинку [3] */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0e21;
  width: 100vw;
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 75px 109px;
}

.demoDecs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.demoText {
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.demoItem {
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  width: 460px;
}

.demoButtonActive {
  border: 1px solid #fff; /* або твій акцентний колір */
  color: #fff;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0e21;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 75px 109px;
}

.teamTitle {
  font-weight: 400;
  font-size: 40px;
}

.teamImages {
  display: flex;
  gap: 45px;
  padding-top: 30px;
}

.devImgBlock {
  position: relative;
}

.devBottom {
  position: absolute;
  top: 250px;
  left: 0;
}

.teamLogo {
  position: absolute;
  top: 325px;
  left: 10px;
  z-index: 100;
}

.teamRoles {
  position: absolute;
  top: 328px;
  left: 40px;
  z-index: 100;
  width: 126px;
  text-align: left;
}

.teamDecs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  top: 398px;
  left: 10px;
}

.buttonProject {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  background-color: #95b3ff;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  padding: 16px 20px;
}

.buttonLinkMenu {
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.title {
  background: #ebedf5;
  background: linear-gradient(to right, #ebedf5 0%, #515fa9 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.container {
  width: 100vw;
  max-width: 1440px;
  padding: 100px 109px;
}

.perFooter {
  background: #0a0d21;
  background: radial-gradient(
    circle,
    rgba(10, 13, 33, 1) 53%,
    rgba(84, 116, 177, 1) 100%
  );
  padding: 100px 109px;
  margin: 100px 109px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 1440px;
}

.preFooterWrap {
  padding: 100px 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #0a0d21;
  background: #0a0d21;
  background: linear-gradient(
    180deg,
    rgba(10, 13, 33, 1) 53%,
    rgba(60, 88, 145, 1) 100%
  );
}

.buttonWrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.buttonLinkGitText {
  font-weight: 400;
  font-size: 16px;
}

.buttonLinkGit {
  text-decoration: underline;
}
