.wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: black;
  padding: 20px 0;
  position: relative;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll-left 300s linear infinite;
  gap: 50px;
}

.infiniteText {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Опціонально: додаємо ефект при наведенні для паузи
.wrapper:hover .track {
  animation-play-state: paused;
} */

.helloWrap {
  display: flex;
  align-items: center;
  background-image: url("../../assets/hello.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  z-index: 1000000;
  text-align: center;
  padding: 190px 75px;
  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
